branches:
  only:
    - master

language: php

php:
  - 7.3
  - 7.4
  - nightly

env:
  global:
    - PATH="$HOME/.composer/vendor/bin:$PATH"

matrix:
  fast_finish: true
  include:
    - php: 7.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.3
      env: LINT="1"
    - php: 7.3
    - php: 7.4
  allow_failures:
    - php: nightly
    - env: SYMFONY_VERSION=dev-master

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

before_install:
  - composer global require satooshi/php-coveralls:@stable sllh/composer-lint:@stable phpunit/phpunit:@stable --no-update

install:
  - wget http://cs.sensiolabs.org/download/php-cs-fixer-v2.phar --output-document php-cs-fixer.phar
  - composer global update --prefer-dist --no-interaction
  - composer update --prefer-dist --no-interaction $COMPOSER_FLAGS

script:
  - if [ "$LINT" = "1" ]; then composer validate; fi;
  - if [ "$LINT" = "1" ]; then php php-cs-fixer.phar fix --verbose --dry-run; fi;
  - if [ "$LINT" != "1" ]; then phpunit --coverage-clover build/logs/clover.xml; fi;

after_script:
  - if [ "$LINT" != "1" ]; coveralls -v; fi;
